@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.main-container{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  margin: auto;
  background-image: linear-gradient(rgb(39,149,254), rgb(103, 194, 253), rgb(168,239, 251));
  width: 400px;
  height: 700px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.search-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  margin: 10px 60px;
  padding: 10px;
  border-radius: 50px;
}


.search-btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
}


.search-container .input{
  outline: none;
  border: none;
}


.city-details{
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}


.city-details h2{
  font-size: 22px;
  color: #fff;
}


.temp{
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 5px;
}

.temp h3{
  font-size: 35px;
  color: #fff;
}

.temp span{
  font-weight: 600;
}

.pridiction{
  margin: 40px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}